<div class="container d-flex mx-auto">
  <div class="container bg-platinum">
    <p class="text-center mt-5 text-l" id='current-travellers-text'>Current travelers in this trip</p>

    <% if itinerary.itinerary_users.where(status:"accepted").empty? && current_user == itinerary.user %>
      <p id="empty-travelers" class='text-center mt-3 mb-5 '>There are currently no travellers on this trip.</p>

    <% elsif itinerary.itinerary_users.where(status:"accepted").empty? && current_user != itinerary.user %>
      <p id="empty-travelers" class='text-center mt-3 mb-5 '>There are currently no travellers on this trip. Send a request to join now!</p>
    <% else %>
      <div class='flex-container-around wrap mt-4 p-5'>
        <% accepted_users.each do |itinerary_user| %>
          <% fname = "#{itinerary_user.user.first_name} #{itinerary_user.user.last_name}" %>
          <% if itinerary_user.user == current_user %>
              <div id="current-traveller" class="rayan">
              <div class='d-flex justify-content-center'>
                <% if itinerary_user.user.photo.attached? %>
                  <%= cl_image_tag itinerary_user.user.photo.key, class: "avatar-xl avatar-margin-bottom" %>
                <% else %>
                <span class="">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-xl avatar-margin-bottom" %>
                </span>
                <% end %>
              </div>
              <p class='text-center' style="text-decoration: none; color: black; font-weight: 700;"><u>You</u></p>
            </div>

          <% else %>

          <%= link_to user_path(itinerary_user.user), class: "text-decoration-none" do  %>
            <div id="current-traveller" class="rayan">
              <div class='d-flex justify-content-center'>
                <% if itinerary_user.user.photo.attached? %>
                  <%= cl_image_tag itinerary_user.user.photo.key, class: "avatar-xl avatar-margin-bottom" %>
                <% else %>
                <span class="">
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-xl avatar-margin-bottom" %>
                </span>
                <% end %>
              </div>
              <p class='text-center' style="text-decoration: none; color: black;"><%= fname %></p>
            </div>
          <% end %>
        <% end %>

      <% end %>
      </div>
    <% end %>
  </div>
  </div>
