<div class="container bg-white my-3">
              <%# side-by-side: avatar, name & message %>
              <div id='request-message' class='p-4 d-flex'>
                <div id='avatar-name' class="d-flex flex-column">
                  <%# insert link_to to get p_user profile %>
                    <% fname = "#{p_user.user.first_name} #{p_user.user.last_name}" %>
                    <%= link_to user_path(p_user.user) do %>
                      <div class="d-flex justify-content-center text-decoration-none ">
                          <%= image_tag("https://kitt.lewagon.com/placeholder/users/#{fname}", class: "avatar-larger mb-3") %>
                        </div>
                        <p class="text-center text-decoration-none "><%=fname %></p>
                      </div>
                    <% end %>
                  <% unless p_user.message.nil? %>
                    <div class="position-relative">
                      <p class="border-black p-2 mt-1 width-long">
                        <%= p_user.message %>
                      </p>
                    </div>
                  <% end %>
                  <%# side-by-side: buttons %>
                  <div class="d-flex justify-content-center mx-3 flex-start">
                  <%= link_to accept_itinerary_user_path(p_user), method: :patch do %>
                    <p class="mt-1 accept-reject-btn accept">Accept</p>

                  <% end %>

                  <%= link_to reject_itinerary_user_path(p_user), method: :patch do%>
                    <%# <i id="btn-reject" class="fa-solid fa-square-xmark mx-3"></i> %>
                    <p class="mx-3 mt-1 accept-reject-btn reject">Reject</p>
                  <% end %>
                </div>
              </div>
            </div>
