<div class="tabs bg-white" data-controller="itinerary-tabs">

  <div class="tabs-head">
    <span data-tab="tabOneTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle active">Overview</span>
    <span data-tab="tabTwoTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle">Calendar</span>
    <span data-tab="tabThreeTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle">Members</span>
    <span data-tab="tabFourTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle">Announcements</span>
    <span style="margin-left:auto;" class="d-flex align-items-center p-auto ">

      <% unless current_user == @organiser && @itinerary.finalised == true %>
        <%= link_to "Finalise participants", finalise_itinerary_path(@itinerary), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn-crimson medium rounded mt-3 mx-3"%>
      <% else %>
        <%# link_to "Finalise participants", '#', method: :patch, disabled: true, class: "btn-crimson medium rounded mt-3 mx-3 transparent-btn"%>

        <%# how to show that trip is finalised? %>
      <% end %>

    </span>

  </div>

  <div class="tabs-body">
    <div data-itinerary-tabs-target="tabOne tab"  class="tab-content active">
      <div class="contents">
        <div class="itinerary-introduction">
          <h4>Itinerary</h4>
          <p><strong>Description</strong></p>
          <p class="mb-3"><%= @itinerary.description %></p>
        </div>
        <div class="itinerary-events">
          <% if @itinerary.events.nil? %>
            <div class="empty">
              <p>Oops. You have no events yet</p>
              <%= link_to 'Add an event', new_itinerary_event_path(@itinerary), class: "btn-orange medium mt-3"%>
            </div>
            <div class="map ms-4 p-3 col-6">
              <div style="width: 100%; height: 700px;"
                data-controller="mapbox"
                data-mapbox-markers-value="<%= @markers.to_json %>"
                data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
          <% else %>
            <%= render 'itinerary_accordion', itinerary: @itinerary %>
            <div class="map p-3 ms-4" style="width: 100%; height: 700px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          <% end %>
        </div>
      </div>
    </div>


    <div data-itinerary-tabs-target="tabTwo tab" class="tab-content">
      <h3>CALENDAR</h3>
    </div>


    <div data-itinerary-tabs-target="tabThree tab" class="tab-content">
      <% organiser_name = "#{@organiser.first_name} #{@organiser.last_name}"  %>
    <%= render "tab_member", itinerary: @itinerary, organiser: @organiser, organiser_name: organiser_name, pending_users: @pending_users, accepted_users: @accepted_users %>
    </div>


    <div data-itinerary-tabs-target="tabFour tab" class="tab-content">
      <div class="container announcements-container m-5">
        <h3 class="mb-3">Announcements</h3>
        <div class="row">
          <div class="col-12">
            <div data-controller="insert-announcements">
              <div data-insert-announcements-target="items">
                 <% if @itinerary.announcements.blank? %>
                  <div class="announcement-card">
                    <div class="d-flex justify-content-center align-items-center">
                      <span>The organizer has yet to make any announcements. Stay tuned!</span>
                    </div>
                  </div>
                  <!-- Form to write an announcement -->
                  <%= simple_form_for([ @itinerary, @announcement ], remote: true, data: { insert_announcements_target: "form", action: "submit->insert-announcements#send" }) do |f| %>
                    <%= f.input :content, label: "Say something to the group: ", placeholder: "E.g. Hi all, let's meet up at..", as: :text %>
                    <%= f.button :submit, 'Send', class: "btn-black normal" %>
                  <% end %>
                <% else %>
                  <% @itinerary.announcements.each do |announcement| %>
                    <div class="announcement-card">
                      <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <img src="https://kitt.lewagon.com/placeholder/users/rayjosong" class="avatar" />
                        <!-- Organizer's name -->
                        <p class="mb-0 mx-3"><strong><%= @organiser.first_name %> <%= @organiser.last_name %></strong></p>
                      </div>
                      <!-- Annoucement content -->
                      <div class="announcement-content">
                        <p class="mb-0"><%= announcement.content %></p>
                      </div>
                    </div>
                  <% end %>
                  <!-- Form to write an announcement -->
                  <%= simple_form_for([ @itinerary, @announcement ], remote: true, data: { insert_announcements_target: "form", action: "submit->insert-announcements#send" }) do |f| %>
                    <%= f.input :content, label: "Say something to the group: ", placeholder: "E.g. Hi all, let's meet up at..", as: :text %>
                    <%= f.button :submit, 'Send', class: "btn-black normal" %>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>

        </div>
      </div>


    </div>

  </div>

</div>
