 <%# Unless current user is the organiser && I have not created a request, show ==>  %>
<% unless itinerary.user == current_user %>
  <% if itinerary.itinerary_users.where(user_id: current_user.id).empty? %>
    <div id="request-join">
      <button type="button" style="border: none;" class="btn-purple full-width mt-3" data-bs-toggle="modal" data-bs-target="#requestModal">
        Request to join
      </button>
    <%# <%= link_to "Request to join", new_itinerary_itinerary_user_path(itinerary), class: "btn-crimson rounded long mt-3" unless current_user == organiser%>
    </div>
  <% elsif itinerary.itinerary_users.find_by(user_id: current_user.id).status == "pending" %>
    <div id="request-join">
      <button disabled type="button" style="border: none;" class="disabled full-width mt-3" data-bs-toggle="modal" data-bs-target="#requestModal">
        Request pending approval
      </button>
    <%# <%= link_to "Request to join", new_itinerary_itinerary_user_path(itinerary), class: "btn-crimson rounded long mt-3" unless current_user == organiser%>
    </div>
  <% elsif itinerary.itinerary_users.find_by(user_id: current_user.id).status == "accepted" %>
    <div id="request-join">
      <p id="confirmed-btn" class="disabled full-width mt-3" >
        You are accepted ✅
      </p>
    <%# <%= link_to "Request to join", new_itinerary_itinerary_user_path(itinerary), class: "btn-crimson rounded long mt-3" unless current_user == organiser%>
    </div>

  <% elsif itinerary.itinerary_users.find_by(user_id: current_user.id).status == "rejected" %>
    <div id="request-join">
      <p id="rejected-btn" class="disabled full-width mt-3" >
        You are rejected ❌
      </p>
    <%# <%= link_to "Request to join", new_itinerary_itinerary_user_path(itinerary), class: "btn-crimson rounded long mt-3" unless current_user == organiser%>
    </div>
  <% end %>
<% end %>



<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modal-container" class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h3 class="modal-title mt-2" id="requestModalTitle" style="font-weight: 500;">Send a request to join this trip</h3>
            <button type="button" data-bs-dismiss="modal" class="btn-close mt-2" aria-label="Close">
            </button>
        </div>

         <%= simple_form_for([itinerary, itinerary_user]) do |f| %>
            <%= f.input :message, label: "Send the organizer a message", label_html:{ class: "text-white mb-1" }, placeholder: "I would like to join because..." %>
            <div class="d-flex">
              <%= f.button :submit, "Send request", class:"p-2 btn-orange-outline btn-padding-small text-center"%>
          </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
