

<div class="d-flex flex-column">
  <%# card 1: Who organised it %>
  <div class="container d-flex mx-auto position-relative">
    <div class="container border-black-large d-flex">
      <div class="container m-3 d-flex justify-content-start align-items-center">

        <% if @organiser.photo.attached? %>
                <%= cl_image_tag @organiser.photo.key, class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <span class="">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
              </span>
        <% end %>
        <div class="p-2">
          <p class="text-xl">Organised by: <br><%= organiser_name %></p>
          <i id="location-symbol" class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
      </div>

      <div class="p-3 d-flex align-items-center">
        <div id="organiser-info">
          <p id="languages" class="text-m"><strong>Languages: </strong><%= @organiser.languages %></p>

            <%# Insert star and organised how many trips %>


          <%= link_to "Find out more about me", user_path(organiser.id), class: "btn-black-outline full-width" unless current_user == organiser %>
          <%= link_to "Send message", user_chatrooms_path(organiser.id), method: :post, class: "btn-black-outline full-width mt-3" unless current_user == organiser %>
          <%= render "published-toggle-on-member-page", itinerary: @itinerary %>
        </div>
      </div>
    </div>
  </div>
  <%# card 2: Current travelers%>

  <%= render "current_travellers", itinerary: @itinerary, accepted_users: accepted_users %>

  <%# card 3: Requests %>
    <%# only show requests to organiser. %>
    <%= render "show_follower_requests", organiser: @organiser, pending_users: pending_users %>
</div>

          <%# pending_users.where(status:"pending").each do |p_user| %>
            <%# "name: #{p_user.user.first_name}" %>
            <%# link_to "accept", accept_itinerary_user_path(p_user), method: :patch %>
            <%# link_to "reject", reject_itinerary_user_path(p_user), method: :patch %>
          <%# end %>
