<div class="tabs container mt-4 col-8">
  <div class="tabs-header container">
    <span data-tab="tabOneTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle active">Overview</span>
    <% if current_user == @itinerary.user %>
      <span data-tab="tabOneTarget" data-itinerary-tabs-target="tabHeader" data-action="click->itinerary-tabs#toggleTab" class="tabs_toggle">Announcements</span>
    <% end %>
  </div>

  <div class="tabs-body container mt-4">
    <div class="trip-overview-container">
      <h5>Trip overview</h5>
      <p><%= @itinerary.description %></p>
    </div>

    <div class="trip-details-container">
      <strong><h6>Trip Details</h6></strong>
      <p><strong>Dates:</strong>&nbsp;&nbsp; <%= @events.keys.first.strftime("%d %b %Y") %> - <%= @events.keys.last.strftime("%d %b %Y") %></p>
      <p><strong>Budget:</strong>&nbsp;&nbsp;  $<%= @itinerary.cost %></p>
      <p><strong>Travelers:</strong>&nbsp;&nbsp;   <%= @itinerary.itinerary_users.where(status: "accepted").count + 1 %>/<%= @itinerary.participant_limit %></p>
      <%= link_to 'Request to join', new_itinerary_itinerary_user_path(itinerary), class: "btn-orange-outline" %>
    </div>
  </div>
</div>
