<div class="d-flex flex-column">
  <%# card 1: Who organised it %>
  <div class="container d-flex mx-auto">
    <div class="container border-black d-flex">
      <div class="container m-3 d-flex justify-content-start align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="p-2">
          <p class="text-xl">Organised by: <br>Raymond</p>
          <i class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
      </div>

      <div class="p-3 d-flex align-items-center">
        <div>
          <p class="text-m"><strong>Languages: </strong>English, French</p>
          <p class="text-m"><strong>Response time: </strong>English, French</p>
          <%= link_to "Find out more about me", '#', class: "btn-black rounded" %>
          <%= link_to "Send message", chatrooms_path, class: "btn-black rounded mt-3" %>
        </div>
      </div>
    </div>
  </div>
  <%# card 2: Current travelers%>
  <div class="container d-flex mx-auto">
    <div class="bg-platinum d-flex justify-content-center align-items-center" >
      <p class='text-center'>Current travellers in this trip</p>
      <div>
        <div>
          <%= link_to '#' do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-large m-4", 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

        </div>

      </div>
    </div>
  </div>

  <%# card 3: Requests %>
</div>
