

<div class="d-flex flex-column">
  <%# card 1: Who organised it %>
  <div class="container d-flex mx-auto">
    <div class="container border-black-large d-flex">
      <div class="container m-3 d-flex justify-content-start align-items-center">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/hahaha", class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="p-2">
          <p class="text-xl">Organised by: <br><%= organiser_name %></p>
          <i class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
      </div>

      <div class="p-3 d-flex align-items-center">
        <div>
          <p class="text-m"><strong>Languages: </strong><%= @organiser.languages %></p>
          <p class="text-m"><strong>Response time: </strong>English, French</p>
          <div class="mt-3">
            <%= link_to "Find out more about me", user_path(organiser.id), class: "btn-black rounded" %>
            <%= link_to "Send message", new_itinerary_chatroom_path(params[:id]), class: "btn-black rounded mt-3" %>
            <%= link_to "Request to join", new_itinerary_itinerary_user_path(itinerary), class: "btn-crimson rounded mt-3" unless current_user == organiser %>
          </div>
        </div>
      </div>z
    </div>
  </div>
  <%# card 2: Current travelers%>

  <%= render "current_travellers", itinerary: @itinerary, accepted_users: accepted_users %>

  <%# card 3: Requests %>
    <%# only show requests to organiser. %>
    <%= render "show_follower_requests", organiser: @organiser, pending_users: pending_users %>
</div>

          <%# pending_users.where(status:"pending").each do |p_user| %>
            <%# "name: #{p_user.user.first_name}" %>
            <%# link_to "accept", accept_itinerary_user_path(p_user), method: :patch %>
            <%# link_to "reject", reject_itinerary_user_path(p_user), method: :patch %>
          <%# end %>
