<div class="tabs container col-8 mx-auto mt-4" data-controller="tabs">
  <div class="tabs-head mb-4">
    <span data-tabs-target="tabHeader" data-tab="one" data-action="click->tabs#toggleTab" class="tabs_toggle active">Overview</span>
    <span data-tabs-target="tabHeader" data-tab="two" data-action="click->tabs#toggleTab" class="tabs_toggle">Announcement</span>
    <span data-tabs-target="tabHeader" data-tab="three" data-action="click->tabs#toggleTab" class="tabs_toggle">Members</span>
  </div>


<%# content %>
  <div class="itinerary-body mt-5 tab-content active" data-tabs-target="one content">

    <%# SECTION ONE LOOK PROPERLY %>
    <div class="sections section-one">
      <div class="trip-overview">
        <h5>Trip overview</h5>
        <p><%= @itinerary.description %></p>

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">

            <% @events.each do |date, events| %>
              <% events.each do |event| %>
                <% if event.photo.attached? %>
                  <% if @first_event == event %>
                    <div class="carousel-item active">
                      <img src="<%= cl_image_path(event.photo.key) %>" class="d-block w-100" alt="event-image">
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <img src="<%= cl_image_path(event.photo.key) %>" class="d-block w-100" alt="event-image">
                    </div>
                  <% end %>
                <% else %>
                  <% if @first_event == event %>
                    <div class="carousel-item active">
                      <img src="https://source.unsplash.com/random/?trip,<%= event.location %>" class="d-block w-100" alt="event-image">
                    </div>
                  <% else %>
                    <div class="carousel-item">
                      <img src="https://source.unsplash.com/random/?trip,<%= event.location %>" class="d-block w-100" alt="event-image">
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <% if !@itinerary.events.length.zero? %>
        <%# If event exists in itinerary %>
        <div class="trip-key-details">
          <strong><p class="mb-3">Trip details</p></strong>
          <p><strong>Dates:</strong> <%= @events.keys.first.strftime("%d %b %Y") %> - <%= @events.keys.last.strftime("%d %b %Y") %></p>
          <p><strong>Budget:</strong> $<%= @itinerary.cost %></p>
          <p><strong>Participants: </strong><%= @itinerary.itinerary_users.where(status: "accepted").count + 1%>/<%= @itinerary.participant_limit + 1 %></p>
          <%= link_to 'Request to join', new_itinerary_itinerary_user_path(@itinerary), class: "btn-orange-outline" %>
          <%= link_to 'View organiser profile', user_path(@itinerary.user), class: "btn-orange-outline mt-4" %>
        </div>
      <% else %>
        <%# Does not exist. Should be visible only for the itinerary creator when they first create itinerary %>
        <div class="trip-key-details">
          <strong><p>Oops. Looks like you have no events yet.</p></strong>
          <%= link_to 'Add an event', new_itinerary_event_path(@itinerary), class: "btn-orange-outline" %>
        </div>
      <% end %>
    </div>

    <%# SECTION 2 OF PAGE %>
    <div class="sections section-two mt-4">

      <%# Accordion here %>
      <%= render 'itinerary_accordion' %>

      <%# Map here %>
      <div class="map p-3 ms-4" style="width: 100%; height: 600px;"
              data-controller="mapbox"
              data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <%# SECTION 3 CALENDAR %>
    <div class="sections sectionThree mt-5">
      <div class="calendar">
        <%= month_calendar do |date| %>
          <%= date %>
        <% end %>
      </div>
      </div>

  </div>

  <div class="tab-content" data-tabs-target="two content">
    <div class="announcement-body">
      <h3>TESTING</h3>
    </div>
  </div>


  <div class="tab-content" data-tabs-target="three content">
    <% organiser_name = "#{@organiser.first_name} #{@organiser.last_name}"  %>
    <%= render "tab_member", itinerary: @itinerary, organiser: @organiser, organiser_name: organiser_name, pending_users: @pending_users, accepted_users: @accepted_users %>
  </div>
</div>
