 <%# chatrooms %>
  <div id="chatroom-<%= chatroom.id %>"
    class="chatroom <%= active ? "active" : "" %>"
    data-chatbox-target="chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
    data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
  >
      <div class="chatroom-header">
        <% if chatroom.itinerary %>
        <%# to display itinerary titles on the chat %>
          <strong>Itinerary: </strong><%= chatroom.itinerary.title %> ||
            <strong>Members:</strong>
            <% chatroom.users.each do |user| %>
              <%= user.first_name %>
            <% end %>
        <% else %>
        <%# to display the recipient's name %>
          <% chatroom.users.each do |user| %>
              <% if user.id != current_user.id %>
              <strong>You are talking to:</strong> <%= user.first_name %>
              <% end %>
            <% end %>
        <% end %>
      </div>

    <div class="messages" data-chatroom-subscription-target="messages">
      <%# to check if there are any messages in the chat %>
      <% if chatroom.messages.length == 0 %>
        <div class="no-messages">
          <em>No messages here yet...</em> <br>
          <em>Send a message!</em> <br>
          <i class="fa-solid fa-cow"></i>
        </div>
      <% else %>
      <%# display the messages %>
        <% chatroom.messages.each do |message| %>
        <div class="message-content">
          <%= render "messages/message", message: message %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="message-input">
      <%= simple_form_for [chatroom, Message.new],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"},
        class: "d-flex"} do |f|
      %>

      <%= f.input :content,
        label: false,
        placeholder: "Message ##{chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>

      <%= f.submit "Send", class: "btn-purple" %>
      <% end %>
    </div>
  </div>
