<div class="title center">
  <h1>Your chatroom: <%= @chatroom.name %></h1>
</div>


<div class="chatbox d-flex col-6 mx-auto">
  <%# group chat details %>
  <div class="chatroom-details">
    <h3><%= @chatroom.itinerary.title %></h3>
    <br>

    <h3>Organiser</h3>
    <%= @organiser.first_name %>
    <br>

    <h3>Members</h3>
    <% @chatroom.users.each do |user| %>
    <%# to list one the members %>
      <% if user.id != @organiser.id %>
      <li><%= user.first_name %></li>
      <% end %>
    <% end %>
  </div>

  <%# chatrooms %>
  <div class="container-chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
      <div class="message-content">
        <%= render "messages/message", message: message %>
      </div>
      <% end %>
    </div>

    <div class="message-input">
      <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"},
        class: "d-flex"} do |f|
      %>

      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>

      <%= f.submit "Send", class: "btn-platinum" %>
      <% end %>
    </div>
  </div>
</div>
