<div class="container user-profile">
  <%# sidebar %>
  <div class="user-sidebar">
    <%# user profile details %>
    <div class="profile-details">
      <%# avatar %>
      <div class="user-avatar center">
        <%= cl_image_tag @user.photo.key, class: "avatar", 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
      <%# verification information %>
      <div class="user-verification">
        <div class="user-verification info">
          <% if @reviews.length.zero? %>
            <em>There are no reviews for <%= @user.first_name %> yet</em>
          <% else %>
            <i class="fa-solid fa-star"></i> <%= pluralize @reviews.length, 'reviews' %>
          <% end %>
        </div>
        <div class="user-verification info">

          <%# organised_trips = ItineraryUser.where(user: @user).where(status:"organiser") %>
          <% if @organised_trips.length.zero? %>
            <em><%= @user.first_name %> has not organised any trips yet</em>
          <% else %>
            <i class="fa-solid fa-globe"></i> Organised <%= pluralize @organised_trips.length, 'trips' %>
          <% end %>
        </div>
      </div>
      <%# Send message %>
      <div class="message">
        <span><%= link_to "Send message", user_chatrooms_path(@user.id), method: :post, class: "btn-purple"%></span>
      </div>
    </div>
  </div>
  <%# content %>
  <div class="user-content">
    <%# About Me %>
    <div class="about-me">
      <%# Name %>
      <div class="about-me content">
        <h2>Hi, I'm <%= @user.first_name %></h2>
      </div>
      <%# Age, Gender %>
      <div class="about-me content">
        <span><%= @user.age %>, <%= @user.gender %></span>
      </div>
      <%# lives in XX %>
      <div class="about-me content">
        <i class="fa-solid fa-house"></i>
        <span>Lives in Singapore</span>
      </div>
    </div>
    <div class="line-break">
    </div>
    <%# Reviews %>
    <div class="user-reviews">
      <% if @reviews.length.zero? %>
        <div class="user-description-title">
          <em>There are no reviews for <%= @user.first_name %> yet</em>
        </div>
      <% else %>
        <div class="user-description-title">
          <i class="fa-solid fa-star"></i> <%= pluralize @reviews.length, 'reviews' %>
        </div>
        <% @reviews.each do |review| %>
          <div class="reviews">
            <div class="review-author">
              <% sender = User.find(review.user_id) %>
              <%= cl_image_tag sender.photo.key, class: "avatar-bordered", alt: "avatar-bordered" %> <%= sender.first_name %>
            </div>
            <div class="review-content">
              <em><%= review.content %></em>
            </div>
         </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
