<%# profile header %>
<div class="container d-flex mx-auto">
  <div class="container border-black-large d-flex">
    <div class="container m-3 d-flex justify-content-start align-items-center">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar-xxl m-4", 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="p-2">
          <p class="text-xl"><%= @user.first_name + " " + @user.last_name %></p>
          <p class="text-m"><%= @user.age %></p>
          <p class="text-m"><%= @user.gender %></p>
          <i class="fa-solid fa-location-dot"></i>
          <span>Singapore</span>
        </div>
    </div>

    <div class="p-3 d-flex align-items-center">
      <div>
        <p class="text-m"><strong>Languages: </strong>English, French</p>
        <p class="text-m"><strong>Response Rate: </strong>100%</p>
        <p class="text-m"><strong>Response Time: </strong>Within an hour</p>
        <%= link_to "Send message", "#", class: "btn-black rounded mt-3 fa-solid fa-message" %>
      </div>
    </div>
  </div>
</div>

<%# profile body %>
<div class="container d-flex mx-auto">
  <div class="row col-6">
    <h3>About Me</h3>
    <p>Hello! I love travelling and meeting new people.</p>
  </div>

  <div class="row col-6">
    <h3>My Current Trips</h3>
    <ol>
      <li>Tokyo</li>
      <li>Berlin</li>
      <li>Moscow</li>
      <li>Nairobi</li>
    </ol>
  </div>
</div>

<div class="container mx-auto">
  <h3>Places I've Been</h3>
  <p>maybe can insert a map?</p>
</div>
