<!-- Logged-in -->
<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light fixed-top <%= 'navbar-chum-white' unless @banner_navbar %> <%= 'static' if @static_navbar %>" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <div class="container-fluid">
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <h4 class="text-uppercase">CHUM</h4>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Navlinks for logged-in user -->
          <li class="nav-item <%= 'nav-text-black' if @black_text_navbar %>">
            <%= link_to "ITINERARIES", itineraries_path, class: "nav-link" %>
          </li>
        </ul>

        <div class="navbar-nav ms-auto d-flex align-items-center">
            <!-- Avatar & name -->
            <a style="width:145; height: 56" class="nav-link dropdown-toggle <%= 'nav-text-black' if @black_text_navbar %>" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-controller="notification-badge-subscription" data-notification-badge-subscription-user-id-value="<%= current_user.id %>">
              <% if current_user.photo.attached? %>
                <%= cl_image_path current_user.photo.key, class: "avatar dropdown-toggle position-relative", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <span class="position-relative">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/rayjosong", class: "avatar dropdown-toggle ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div id="notification-badges" class="text-center ml-3 position-absolute" style="" data-notification-badge-subscription-target="badge"><%= current_user.notifications.where(read:false).count %></div>
              </span>
              <% end %>
              <span class="username-display <%= 'nav-text-black' if @black_text_navbar %>"><%= current_user.first_name %></span>
            </a>

            <!-- User dropdown -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <div class="dropdown-item-text">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <p><strong>Hello, <%= current_user.first_name %></strong></p>
                    <p><%= current_user.email %></p>
                  </div>
                </div>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "My Trips", mytrips_path, class: "dropdown-item" %></li>
              <li><%= link_to "My Messages", chatrooms_path, class: "dropdown-item" %></li>
              <li>
                <%= link_to notifications_path, class:"dropdown-item" do %>
                  <p class="position-relative m-0">My Notifications</p>
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
        </div>
      </div>
    </div>
  </div>


<!-- Not Logged-in -->
<% else %>
  <div class="navbar navbar-expand-sm navbar-light fixed-top <%= 'navbar-chum-white' unless @banner_navbar %> <%= 'static' if @static_navbar %>" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
    <div class="container-fluid">
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <h4 class="text-uppercase">CHUM</h4>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navlinks for not logged-in user -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item <%= 'nav-text-black' if @black_text_navbar %>">
            <%= link_to "ITINERARIES", itineraries_path, class: "nav-link" %>
          </li>
        </ul>
        <div class="navbar-nav ms-auto d-flex">
          <span class="<%= 'nav-text-black' if @black_text_navbar %>">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </span>
          <span class="<%= 'nav-text-black' if @black_text_navbar %>">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
