<%= link_to itinerary_path(itinerary), class: "text-decoration-none" do %>
  <div class="trip-card" data-action='click->itinerary-card#clickCard' data-itinerary-card-target="card" data-itinerary-id="<%= itinerary.id %>">
  <!-- background image -->
    <div class="trip-card-background">
      <% if itinerary.photo.attached? %>
        <img class="itinerary-image" src="<%= cl_image_path itinerary.photo.key %>" alt="itinerary image">
      <% else %>
        <!-- TODO: This needs to match the itinerary banner image in the show page -->
        <img src="https://source.unsplash.com/random/430x246/?trip,<%= itinerary.title %>" alt="itinerary image">
      <% end %>
    </div>
    <div class="black-overlay">
      <div class="trip-card-content">
        <div class="trip-card-destination">
          <p><%= itinerary.destination %></p>
        </div>
        <div class="trip-card-title">
          <h2><%= itinerary.title %></h2>
          <p>by <%= itinerary.user.first_name %> <%= itinerary.user.last_name %></p>
        </div>
        <div class="trip-card-specs">
          <div class="trip-card-dates">
            <div>
              <p class="trip-card-date-header">From</p>
                <% if itinerary.events.count == 0 %>
                  <p>TBC</p>
                <% else %>
                  <p><%= itinerary.events[0].date_start.strftime('%d %B %Y') %></p>
                <% end %>
            </div>
            <div>
              <p class="trip-card-date-header">To</p>
                <% if itinerary.events.count == 0 %>
                  <p>TBC</p>
                <% else %>
                  <p><%= itinerary.events[-1].date_end.strftime('%d %B %Y') %></p>
                <% end %>
            </div>
          </div>
          <% budget = 0 %>
          <% itinerary.events.each { |event| budget += event.cost }%>
          <div class="trip-card-budget">
            <p class="trip-card-budget-header">Budget</p>
            <p>SGD <%= budget.round %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
