<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "text-black" %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "text-black" %>
  </div>

  <%# left bar with the hours (first column of the grid) %>
  <%# Populate the events inside, with the proper style to position in the row, col, with the proper span (duration) %>
  <% date_range.each_slice(7) do |week| %>
    <div class="itinerary-calendar">
      <div class="week-headers">
        <% date_range.slice(0, 7).each do |day| %>

          <div class="week-header"><%= t('date.abbr_day_names')[day.wday] %> - <%= day %></div>
        <% end %>
      </div>
      <div class="calendar-time-sidebar">
        <div>Time</div>
        <% (0..24).each do |hour| %>
          <div class="hour-text"><%= hour %></div>
        <% end %>
      </div>
      <% week.each do |day| %>
        <div class="calendar-day-wrapper">
          <% sorted_events.fetch(day, []).each do |event| %>
            <div class="event-block" style="grid-row: <%= event.date_start.hour + 1 %> / span <%= event.duration.ceil + event.date_start.hour + 1 >= 25 ? 24 - event.date_start.hour : event.duration.ceil %>;">
              <%= event.title %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
